Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.pri
.pro
.kdev4
.code-workspace
vOLZCodeCompletionFolders.txt
vOLZCodeLitePreProcessor.txt
.workspace
CMakeLists.txt
Makefile
